html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.game-title {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
}

.inputs-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loader {
  position: absolute;
  top: -40px;
}

.hidden {
  visibility: hidden;
}

.inputs-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.letter-input {
  height: 50px;
  width: 50px;
  border: 2px solid silver;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.correct,
.incorrect,
.close {
  color: white;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: gray;
}

.close {
  background-color: #d9a51f;
}

@keyframes invalidWord {
  50% {
    border-color: red;
  }
  100% {
    border-color: silver;
  }
}

.invalid {
  animation-duration: 1s;
  animation-name: invalidWord;
}
